* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn {
    display: inline-block;
    min-width: 108px;
    height: 48px;
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 48px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
}

a {
    text-decoration: none;
}

/* Độ rộng trình duyệt nhỏ hơn độ rộng content thì sẽ hiện thanh cuộn */

/* xử lý: để độ rộng thêm max-width: 100% để trình duyệt ăn theo độ rộng đó*/

/* Nếu độ rộng trình duyệt nhỏ hơn thì sẽ ăn theo 100% của độ rộng Trình duyệt */

/* Khi bạn thấy khi để 100% mất khoảng cách trái phải thì lúc này dùng tính toán */

/* calc(100% - 48px) : trái: 24px + phải: 24px = 48px lúc này khoảng cách  */

/* Khoảng cách trái phải sẽ dư ra mỗi bên 24px */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    /* căn giữa */
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
    /* do .nav a  chúng ta padding trái phải là 21px giờ cộng thêm cho 156px = 177px */
    margin-right: 156px;
}

.nav ul {
    display: flex;
}

.nav li.active a {
    /* font-weight: 600; khi hover nó sẽ giật những chữ xung quanh */
    /* biện pháp dùng bóng đổ box-shadow */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav a {
    /* tăng vùng bấm là 8px khoảng cách các thẻ a là 39 / 2 */
    padding: 8px 20px;
    color: #2f3a3b;
    font-size: 1.6rem;
}

.nav a:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.header .action-link {
    margin-right: 24px;
    color: #494949;
}

.header .action-btn:active {
    color: #fff;
    background-color: #1ebfc1;
}

/* Hero */
.hero {
    /* khoảng padding top 65 lúc .header body chúng ta cho là 8px
    vì thế lấy 65px -8px = 57px */
    padding: 57px 0 65px;
    background: #fff;
}

.hero .body {
    display: flex;
}

/* Hero left */

.hero .content-block {
    width: 45%;
    padding: 93px 71px 93px 0;
}

.content-block .desc {
    width: 285px;
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.content-block .heading {
    margin: 18px 0 46px 0;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.content-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.content-block .cta-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 68px;
    color: #fff;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.content-block .cta-hero:active {
    color: #1ebfc1;
    background: #fff;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex-shrink: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

/* hero right */

/* tính độ rộng tổng bên phải 
bên phải hiện có độ rộng là 641x631
Tính tổng độ rông bên phải: 641 / 1170 (main-content) x 100 = 55%*/

.hero .media-block {
    position: relative;
    width: 55%;
}

.hero .media-block .img {
    width: 100%;
    height: 631px;
    object-fit: cover;
    vertical-align: baseline;
}
.hero .media-block .sumary-1 {
    /*  căn vào ảnh dùng position: absolute */
    display: flex;
    position: absolute;
    padding: 17px 25px 18px;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    align-items: center;
    background: #fefefd;
    border-radius: 18px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.sumary-1 a::after {
    position: absolute;
    content: "";
    bottom: 26px;
    left: 29px;
    width: 28px;
    height: 4px;
    border-radius: 99px;
    background: #fff;
}

.sumary-1 .title {
    display: inline-block;
    margin-left: 16px;
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .media-block .sumary-2 {
    position: absolute;
    top: 453px;
    bottom: 46px;
    right: 517px;
    left: -65px;
    width: 124px;
    height: 132px;
    text-align: center;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.sumary-2 .title {
    display: inline-block;
    margin-top: 16px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.sumary-2 .hero-sched {
    margin: 16px 0 23px;
}

.hero .media-block .sumary-3 {
    position: absolute;
    top: 500px;
    left: 342px;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.sumary-3 {
    display: flex;
    flex-direction: column;
    padding: 17px 35px;
}

.sumary-3 .avatar-all {
    display: flex;
    width: 33px;
    height: 33px;
}

.sumary-3 .title {
    margin-bottom: 8px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.sumary-3 .avatar {
    min-width: 100%;
    height: 100%;
    /* lấy width avatar - cho khoảng cách còn lại bị dư ra bằng -7 */
    margin-left: -7px;
    border-radius: 50%;
    object-fit: cover;
}

.sumary-3 .avatar:first-child {
    margin-left: 0;
}

.sumary-3 .avatar-6 {
    background: #1ebfc1;
    color: #fff;
    /* căn giữa chiều cao line-height */
    line-height: 33px;
    /* căn giữa  */
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
