* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */

.line-clamp {
    /* xử lý viết nội dung vượt quá dòng 
    thì sẽ hiện dấu 3 chấm */
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.heading-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    /* xử lý khi khách hàng k viết có khoảng trắng
    nó sẽ cắt chữ xuống hàng như lúc có khoảng trắng */
    word-break: break-all;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn {
    display: inline-block;
    min-width: 108px;
    height: 48px;
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 48px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
}

a {
    text-decoration: none;
}

/* Độ rộng trình duyệt nhỏ hơn độ rộng content thì sẽ hiện thanh cuộn */

/* xử lý: để độ rộng thêm max-width: 100% để trình duyệt ăn theo độ rộng đó*/

/* Nếu độ rộng trình duyệt nhỏ hơn thì sẽ ăn theo 100% của độ rộng Trình duyệt */

/* Khi bạn thấy khi để 100% mất khoảng cách trái phải thì lúc này dùng tính toán */

/* calc(100% - 48px) : trái: 24px + phải: 24px = 48px lúc này khoảng cách  */

/* Khoảng cách trái phải sẽ dư ra mỗi bên 24px */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    /* căn giữa */
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
    /* do .nav a  chúng ta padding trái phải là 21px giờ cộng thêm cho 156px = 177px */
    margin-right: 156px;
}

.nav ul {
    display: flex;
}

.nav li.active a {
    /* font-weight: 600; khi hover nó sẽ giật những chữ xung quanh */
    /* biện pháp dùng bóng đổ box-shadow */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav a {
    /* tăng vùng bấm là 8px khoảng cách các thẻ a là 39 / 2 */
    padding: 8px 20px;
    color: #2f3a3b;
    font-size: 1.6rem;
}

.nav a:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.header .action-link {
    margin-right: 24px;
    color: #494949;
}

.header .action-btn:active {
    color: #fff;
    background-color: #1ebfc1;
}

/* Hero */
.hero {
    /* khoảng padding top 65 lúc .header body chúng ta cho là 8px
    vì thế lấy 65px -8px = 57px */
    padding: 57px 0 65px;
}

.hero .body {
    display: flex;
}

/* Hero left */

.hero .content-block {
    width: 51%;
    padding: 93px 136px 93px 0;
}

.hero .content-block .title {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.content-block .desc {
    max-width: 374px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.content-block .heading {
    margin: 18px 0 46px 0;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 52px 0 93px 0;
}

.content-block .cta-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 68px;
    color: #fff;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.content-block .cta-hero:active {
    color: #1ebfc1;
    background: #fff;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex-shrink: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

/* hero right */

/* tính độ rộng tổng bên phải 
bên phải hiện có độ rộng là 641x631
Tính tổng độ rông bên phải: 641 / 1170 (main-content) x 100 = 55%*/

.hero .media-block {
    position: relative;
    width: 49%;
}

.hero .media-block .img {
    width: 100%;
    height: 631px;
    object-fit: cover;
    vertical-align: baseline;
}
.hero .media-block .sumary-1 {
    /*  căn vào ảnh dùng position: absolute */
    display: flex;
    position: absolute;
    padding: 17px 25px 18px;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    align-items: center;
    background: #fefefd;
    border-radius: 18px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.sumary-1 a::after {
    position: absolute;
    content: "";
    bottom: 26px;
    left: 29px;
    width: 28px;
    height: 4px;
    border-radius: 99px;
    background: #fff;
}

.sumary-1 .title {
    display: inline-block;
    margin-left: 16px;
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .media-block .sumary-2 {
    position: absolute;
    top: 453px;
    bottom: 46px;
    right: 517px;
    left: -65px;
    width: 124px;
    height: 132px;
    text-align: center;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.sumary-2 .title {
    display: inline-block;
    margin-top: 16px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.sumary-2 .hero-sched {
    margin: 16px 0 23px;
}

.hero .media-block .sumary-3 {
    position: absolute;
    top: 500px;
    left: 342px;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.sumary-3 {
    display: flex;
    flex-direction: column;
    padding: 17px 35px;
}

.sumary-3 .avatar-all {
    display: flex;
    width: 33px;
    height: 33px;
}

.sumary-3 .title {
    margin-bottom: 8px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.sumary-3 .avatar {
    min-width: 100%;
    height: 100%;
    /* lấy width avatar - cho khoảng cách còn lại bị dư ra bằng -7 */
    margin-left: -7px;
    border-radius: 50%;
    object-fit: cover;
}

.sumary-3 .avatar:first-child {
    margin-left: 0;
}

.sumary-3 .avatar-6 {
    background: #1ebfc1;
    color: #fff;
    /* căn giữa chiều cao line-height */
    line-height: 33px;
    /* căn giữa  */
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* Featured */

.featured {
    padding: 130px 0;
}

.featured .info {
    width: 50%;
    margin-bottom: 80px;
}

.featured .info .title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.featured .info .heading {
    min-width: calc(100% - 14px);
    margin: 18px 0;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}

.featured .info .desc {
    max-width: 100%;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

/* feature-list */
.featured .item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured .item .heading {
    margin: 26px 0 16px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.featured .list .item:nth-child(2) {
    margin: 0 0 0 209px;
}

.featured .list .item:nth-child(3) {
    margin: 0 143px 0 200px;
}

.featured .item .desc {
    max-width: 224px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}
.featured .item .desc-1 {
    width: 168px;
}

.featured .item .icon {
    width: 102px;
    height: 106px;
    flex-shrink: 0;
}

/* Courses */
.course {
    padding: 130px 0;
    /* background: orange; */
}

.course .info .tilte {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.course .info .heading {
    margin: 18px 0 19px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.course .info .group {
    display: flex;
    justify-content: space-between;
}

.course .group .desc {
    max-width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.course .group .view {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.course .item-list {
    display: flex;
    gap: 47px;
    margin-top: 79px;
}
.course .item {
    position: relative;
    flex: 1;
    cursor: pointer;
}

.course .item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course .item-info:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course .item .img {
    width: 359px;
    height: 393px;
    flex-shrink: 0;
    object-fit: cover;
    vertical-align: baseline;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
}

.course .item-info {
    position: absolute;
    top: 322px;
    left: 17px;
    right: 17px;
    bottom: 124px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.course .item-info .heading {
    margin: 18px 165px 16px 25px;
    width: 100%;
}

.course .item-info .heading a {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.course .item-info .foot {
    margin-left: 25px;
}

.course .foot .price {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.course .foot .price span {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.course .foot .desc {
    margin: 6px 0 18px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.course .coment {
    display: flex;
    margin-left: 25px;
}
.course .coment .group {
    display: flex;
    align-items: center;
}

.course .coment .group .cmt {
    padding: 0 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Sub */

.sub {
    padding: 261px 0 0;
}
.sub .sub-all {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub .info .title {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
}

.sub .info .desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
}

/* Question */
.ques {
    padding: 264px 0 0;
}

.ques .ques-all {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Question-A */
.ques .ques-a {
    width: 36%;
    margin-right: 72px;
}

.ques .ques-a .desc {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.ques .ques-a .st {
    margin-top: 33px;
    position: relative;
    left: 14px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.ques .ques-a .st span {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.ques .ques-a .st::before {
    position: absolute;
    content: "";
    display: block;
    left: -14px;
    right: 25px;
    bottom: 6px;
    width: 8px;
    height: 2px;
    background: #070707;
}

.ques .ques-a .lt {
    display: flex;
    margin: 52px 0 37px;
    gap: 10px;
}

.ques .ques-a .cta-lr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #2ac9bf;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.ques .ques-a .cta-lr:active {
    background: rgb(15, 14, 14);
}

/* Question-B */
.ques .ques-b {
    width: 64%;
    display: flex;
}
.ques .ques-b .ava {
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.ques .ques-b .one .ava {
    margin: 166px 0 67px;
    background: #ffc147;
}

.ques .ques-b .tow .ava {
    margin: 0 0 0 66px;
    width: 92px;
    height: 92px;
    background: #1ebfc1;
}

.ques .ques-b .three .ava {
    margin: 403px 0 0;
    background: #ff947a;
}

.ques .ques-b .four .ava {
    margin-top: 107px;
    width: 235px;
    height: 235px;
    background: #ff8282;
}

.ques .ques-b .five .ava {
    margin: 374px 32px 29px;
    background: #b1dfdc;
}

.ques .ques-b .six .ava {
    margin: 19px 0 0 -51px;
    width: 110px;
    height: 110px;
    background: #bf83ff;
}

/* About */

.about {
    padding: 130px 0;
    background: #def6f5;
}

.about .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .info .heading {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}

.about .info .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
}

.about .cta .cta-btn {
    width: 186px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    border-radius: 14px;
    background: #2ac9bf;
}

.about .cta .cta-btn:active {
    color: #2ac9bf;
    background: #fff;
}

/* Footer */

.footer {
    padding: 131px 135px 0;
   
}

.footer .row {
    display: flex;
    padding-bottom: 26px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 25%;
}

.footer .column .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer .social,
.footer .column .list {
    margin-top: 26px;
}

.footer .social a,
.footer .column .list a {
    display: inline-block;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer .social a {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;
}



.copyright {
    padding: 60px 0 50px;
}

.copyright p {
    color: #b0b5b4;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 400;
}
